body {
    background-color: aliceblue;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 122, 128);
    text-align: center;

}

h2 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    font-weight: bolder;
    text-align: center;

}
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}